.ToolbarMain {
    display: block;
    max-width: 100%;
}

.ToolbarMain button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    color: #b3843f;
    cursor: pointer;
    outline: none;
    align-content: flex-end;
    float: right;
}
.center {
    margin: auto;
}